@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    transition: all 0.2s ease;
}
.no_transition{
    transition: none;



}
.add_transition{
    transition: all 2s ease
}

.navbar_element{
    @apply hidden md:block hover:bg-green-400 p-2 px-4 no_transition rounded-lg cursor-pointer transition-all duration-300
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;
    /* For Chrome, Safari, and Opera */
}


